*{
	padding:0;
	border:0;
	margin:0;
	font-family:微软雅黑, 宋体, Arial;
	font-size:16px;
}
.pageArea{
	width:960px;
	margin:0 auto;
	border:1px solid red;
}
/*topBar style start*/
.topBar{
	height:60px;
	width:100%;
	background-color:#1E90FF;
	margin-bottom:10px;
}
.topBar span.keyWord{
	display:inline-block;
	width:100%;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
}
.topBar span.auther{
	display:inline-block;
	width:940px;
	text-align:right;
	margin-right:20px;
}
/*topBar style end*/

/*leftBar style start*/
.leftBar{
	display:inline-block;
	width:250px;
	position:relative;
	top:0;
	float:left;
}
.firstMenu{
	width:248px;
	height:560px;
	margin-bottom:5px;
	border:1px solid black;
	position:absolute;
	top:0;
	left:0;
	opacity:1;
	filter:alpha(opacity = 1);
}
.firstMenu li.menu, .secondMenu li.menu{
	width:241px;
	height:40px;
	margin-bottom:1px;
	line-height:40px;
	padding-left:5px;
	border:1px solid blue;
	list-style:none;
	cursor:pointer;
	background-color:yellow;
}
.secondMenu li a{
	text-decoration:none;
}
.firstMenu li:hover, .secondMenu li:hover{
	background-color:white;
}
.secondMenu{
	width:248px;
	height:560px;
	margin-bottom:5px;
	border:1px solid black;
	position:absolute;
	top:0;
	left:0;
	display:none;
	opacity:1;
	filter:alpha(opacity = 1);
}
.secondMenu .funBar{
	width:246px;
	height:40px;
	line-height:40px;
	border:1px solid blue;
	margin-bottom:1px;
}
.secondMenu button{
	width:50px;
	height:30px;
	margin:5px;
	line-height:30px;
	background-color:lightgray;
	font-size:13px;
	cursor:pointer;
	border-radius:2px;
}
/*leftBar style end*/

/*content style start*/
.content{
	float:right;
	position:relative;
	top:0;
	width:700px;
	min-height:560px;
	height:560px;
	overflow-y:auto;
	border:1px solid black;
}
.content span{
	display:inline-block;
	padding-top:100px;
	font-size:30px;
}
.content{
	text-align:left;
}
.content span.title1{
	display:block;
	font-size:25px;
	padding:5px;
}
.content span.title2{
	display:block;
	font-size:18px;
	padding:5px;
}
.content span.title3{
	display:block;
	font-size:15px;
	padding:5px;
	padding-left:20px;
}
pre{
	background-color:#F8F8F8 !important;
	border:1px solid #CCCCCC !important;
	font-size:13px !important;
	line-height:19px !important;
	overflow:auto !important;
	padding:6px 20px !important;
	border-radius:3px !important;
	font-family:Consolas, "Liberation Mono", Courier, monospace !important;
}
/*content style end*/